@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap");

.button-filled {
  background-color: #ff9d03;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18.341px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.367px;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
@font-face {
  font-family: OpenSauceSans;
  src: url(../public/Fonts/Open-Sauce-Sans/TTF/OpenSauceSans-Regular.ttf);
}
.OpenSauceSans {
  font-family: OpenSauceSans;
}
.custom-width-15 {
  width: 15%;
}
.custom-width-30 {
  width: 30%;
}
.custom-width-45 {
  width: 45%;
}
.custom-width-88 {
  width: 88%;
}

.button-filled {
  display: flex;
  width: 121px;
  height: 42px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #5a81ee;
  color: white;
}
.border-test{
  border: 1px solid red;
}