#login {
  background-image: url("../../../public/Assets/Images/loginbg.png");
  background-position: right;
  background-size: 70% cover;
  background-repeat: no-repeat;
}
@media (max-width: 867px) {
  #login {
    background-image: url("../../../public/Assets/Images/Auth/loginbgphone.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#login form {
  border: 0.5px solid #1f20ae;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 867px) {
  #login form {
    width: 90%;
  }
}
